<div th:insert="~{common/header}"></div>
<div th:insert="~{common/navigation}"></div>

<div class="container flex-grow-1 align-content-start py-3">
    <div class="panel-body py-3">
        <div class="panel panel-default d-flex flex-column gap-3">
            <div class="panel-heading d-flex justify-content-between">
                <div>
                    <h4>All Users</h4>
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <form id="filterForm" th:action="@{/list-users}" method="get" class="d-inline m-0">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div class="btn-group" role="group">
                            <input type="radio" class="btn-check" id="filterAll" name="active" value=""
                                th:checked="${filterActive == null}" onchange="this.form.submit()">
                            <label class="btn btn-sm btn-outline-secondary" for="filterAll">All</label>

                            <input type="radio" class="btn-check" id="filterActive" name="active" value="true"
                                th:checked="${filterActive == true}" onchange="this.form.submit()">
                            <label class="btn btn-sm btn-outline-secondary" for="filterActive">Active</label>

                            <input type="radio" class="btn-check" id="filterInactive" name="active" value="false"
                                th:checked="${filterActive == false}" onchange="this.form.submit()">
                            <label class="btn btn-sm btn-outline-secondary" for="filterInactive">Inactive</label>
                        </div>
                    </form>
                    <a type="button" class="btn btn-primary btn-md" th:href="@{/add-user}"><i class="bi bi-plus"></i>
                        Add User</a>
                </div>
            </div>
            <div class="row">
                <!-- Loop through each User -->
                <div class="col-4 mb-3" th:each="user : ${users}">
                    <div class="card shadow">
                        <div class="card-body p-0">
                            <!-- Header Section -->
                            <div class="d-flex justify-content-between align-items-start card-header">
                                <div>
                                    <h6 class="card-title mb-1 d-block"> <strong th:text="${user.name}">User
                                            Name</strong></h6>
                                    <small class="text-muted badge border rounded" th:text="${user.role} + ' '">User
                                        Role</small>
                                    <small class="text-muted" th:text="${user.username}">Username</small>
                                </div>
                                <!-- Status -->
                                <span th:classappend="'badge ' + (${user.enabled} ? 'bg-success' : 'bg-danger')">
                                    <span th:text="${user.enabled ? 'Active' : 'Inactive'}">Status</span>
                                </span>
                            </div>
                            <!-- Details Section -->
                            <div class="p-3">
                                <!-- Email -->
                                <p class="mb-1">
                                    <strong class="text-secondary badge"><i class="bi bi-envelope-at"></i></strong>
                                    <span class="text-secondary"
                                        th:text="${user.email != null && !user.email.isEmpty() ? user.email : 'No email provided'}">
                                        user@example.com
                                    </span>
                                </p>
                                <p class="mb-1">
                                    <strong class="text-secondary badge"><i class="bi bi-door-open"></i></strong>
                                    <span class="text-secondary"
                                    th:text="(${user.lastLoggedIn != null ? #temporals.format(user.lastLoggedIn, 'dd MMM yyyy ''at'' hh:mm a') : 'Never logged in'})">
                                        time
                                    </span>
                                </p>
                            </div>
                            <!-- Action Buttons -->
                            <div class="d-flex flex-wrap justify-content-end align-items-center gap-2 card-footer">

                                <!-- Edit and Delete for Non-Admins -->
                                <div class="d-flex gap-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        th:if="${user.role != 'ADMIN'}"
                                        th:onclick="'location.href=\'/update-user?id=' + ${user.id} + '\''">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger"
                                        th:if="${user.role != 'ADMIN'}"
                                        th:onclick="'location.href=\'/delete-user?id=' + ${user.id} + '\''">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </div>
                                <!-- Placeholder for Admins -->
                                <span class="badge bg-secondary" th:if="${user.role == 'ADMIN'}">Admin actions
                                    restricted</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
                <ul class="pagination">
                    <!-- Previous Button -->
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link" th:href="@{/list-users(page=${currentPage} - 1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
            
                    <!-- Page Numbers -->
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/list-users(page= ${i})}" th:text="${i + 1}"></a>
                    </li>
            
                    <!-- Next Button -->
                    <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/list-users(page=${currentPage} + 1)}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>



<div th:insert="~{common/footer}"></div>